.maindiv{
    background-color: white;
}
.div1{
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 9px;
    margin-left: 80px;
    margin-right: 80px;
	margin-bottom: 20px;
	margin-top: 30px;
}
.butvar{
    padding: 14px 40px;
    

}
.formclass{
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}
.validatediv{
    color:red;
    text-align: center;
}