h1{
    Color: red;
    background-color: aqua;
 
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
.background1{

  
 color: rgb(39, 245, 70);
}
.container{
  
  background-color: bisque;
}