.maindiv{
    background-color: rgb(203, 163, 163);
   
}
.div1{
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 9px;
   
    margin-left: 40px;
    margin-right: 40px;
    
}
.butvar{
    padding: 14px 40px;
    

}
.formclass{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.validatediv{
    color: red;
    text-align: center;
}
h1{
    font-weight: 700;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}